aiodns==2.0.0
aiohttp
asyncio==3.4.3
cachetools==4.2.1
cchardet==2.1.7
dnspython==2.1.0
gpytranslate
pymongo==3.11.3
pyrogram==1.2.4
python-dateutil==2.8.1
pyyaml
regex
speedtest-cli==2.1.2
tgcrypto==1.2.2
tswift
ujson
uvloop
wikipedia
